{% extends 'base.html.twig' %}

{% block title %}Race Day | Tote Board{% endblock %}

{% block body %}
    <div class="tote-board">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
    <div>
        <ul class="race-selector">
            {% for race_option in race_day.races  %}
                <li{{ race.number == race_option.number ? ' class="selected"' }}>
                    <a href="/board/{{ race_day.date|date('Y-m-d') }}/{{ race_option.number }}">{{ race_option.number }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="race-data">
        {% block race %}{% endblock %}
    </div>
{% endblock %}
