{% extends 'board.html.twig' %}

{% block title %}{{ race_day.date|date('Y-m-d') }} | Race {{ race.number }} | Tote Board{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/css/race.css') }}" rel="stylesheet" />
{% endblock %}

{% block race %}
    <h2>Race {{ race.number }}</h2>

    <div class="race-table">
        <div class="race-table-header">&nbsp;</div>
        <div class="race-table-header">Win</div>
        <div class="race-table-header">Place</div>
        <div class="race-table-header">Show</div>

        {% for entry in entries.finished %}
            <div class="race-table-cell"><strong>{{ entry.horseName }}</strong></div>
            <div class="race-table-cell">
                {% if entry.winPayoff is not null %}
                    ${{ entry.winPayoff|number_format(2) }}
                {% endif %}
            </div>
            <div class="race-table-cell">
                {% if entry.placePayoff is not null %}
                    ${{ entry.placePayoff|number_format(2) }}
                {% endif %}
            </div>
            <div class="race-table-cell">
                {% if entry.showPayoff is not null %}
                    ${{ entry.showPayoff|number_format(2) }}
                {% endif %}
            </div>
        {% endfor %}

        <div class="race-table-span">
            <strong>Also ran:</strong>
            {% for entry in entries.also_ran %}
                {{ entry.horseName }}
                {% if not loop.last %},{% endif %}
            {% else %}
                <em>None</em>
            {% endfor %}
        </div>

        <div class="race-table-span">
            <strong>Scratched:</strong>
            {% for entry in entries.scratched %}
                {{ entry.horseName }}
                {% if not loop.last %},{% endif %}
            {% else %}
                <em>None</em>
            {% endfor %}
        </div>
    </div>
{% endblock %}
